.titleAvatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.titleName{
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
