.body-page {
    background: #888888;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}

.body-page h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #eeeeee;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #181818;
    border-radius: 4px;
    font-size: 14px;
    background-color: #b8b8b8;
    color: #000000;
}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
}

button[type="submit"] {
    background-color: #0714c0c4;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0059ffbb;
}

.form-group select[multiple] {
    height: 100px;
    background-color: #000000bb;
    color: #ffffff;
    border: 1px solid #181818;
}

input[type="file"] {
    padding: 5px;
}

@media (max-width: 980px) {
    .container {
        padding: 15px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}

.backchat {
    background-color: #0714c0c4;
    display: flex;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: max-content;
    transition: background-color 0.3s ease;
    border: #000000 5px;
    text-align: center;
    position: relative;
    left: px;
    top: 382px;
    margin: 0 auto;
}
